* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body {
    background-color: #1f242d;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar .logo span{
    color:#7cf03d;
    font-size: 40px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active {
    color: #7cf03d;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}

.home-info h1{
    font-size: 55px;
}

.home-info h2{
    font-size: 32px;
    margin-top: -10px;
}

.home-info p{
    font-size: 16px;
    margin-top: 10px 0 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 20px;
}

.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
}

.home-info .btn-sci .sci a:hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.about {
    padding: 60px 9% 0;
    color: #fff;
    text-align: center;
}

.about-info h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.about-info p{
    font-size: 16px;
    line-height: 1.6;
}

.project {
    padding: 60px 9% 0;
    color: #fff;
    text-align: center;
}

.project h1{
    font-size: 40px;
    margin-bottom: 50px;
}

.project img {
    display: flex;
    justify-content:flex-start;
    width: 400px;
}

